@import url('https://fonts.googleapis.com/css2?family=Montserra:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,.8);
}
select{
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
}
#option{
  text-align: center;
}
body{
  margin: auto;
  background-color: rgba(0,0,0,.8);
  height: 100vh;
}
.background{
  height: 300px;
  background-color: aqua;
}
.container{
  border-radius: 25px;
  min-height: 70vh;
  margin: auto 25px;
  margin-top: -250px;
  padding: 20px;
  background-color: rgb(250,250,250);
  border: .01px solid black;
  margin-bottom: 50px;
}
.input-group{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.input-group input{
  display: flex;
  width: 80%;
  height: 40px;
  padding: 15px;
  border-radius: 10px ;
  background-color: rgba(0,0,0, .8);
  color: white;
}
.input-group button{
  width: 70px;
  border-radius: 10px;
  color: rgba(0,0,0, .8);
  background-color: rgb(250,250,250);
  font-style: bold;
}
input:focus{
  background-color: aqua;
  color: rgba(0,0,0,.8);
  cursor: pointer;
  transition: .1s;
}
button:focus{
  background-color: aqua;
  color: rgba(0,0,0,.8);
  cursor: pointer;
  transition: .1s;
}
::placeholder{
  color: aqua;
  font-style: italic;
  opacity: .7;
  font-size: 13px;
}
#output {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#output h3, span.output{
  overflow-x: scroll;
}
h1{
  text-align: center;
  margin-bottom: 5px;
}
p{
  font-size: 15px;
}
h3.danger{
  color: red;
}
div.creator, div.creator div.medsos{
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
}
div.creator{
  text-align: center;
  flex-direction: column;
}
div.creator .medsos a{
  text-decoration: none;
  font-size: 50px;
}
div.creator .medsos a img{
  border-radius: 4px;
  padding: 8px;
  background-color: aqua;
}
div.creator h3, div.creator a{
  color: aqua;
}
div.creator h3{
  font-size: 150%;
}
div.creator .medsos a:active{
  transition: all .5s;
  color: rgb(0,102,104) ;
  transform: scale(1.07) translateY(5px);
}
@media (max-width: 699px){
  select{
    font-size: 13px;
  }
  h1{
    font-size: 95%;
  }
}
@media (min-width: 700px){
  .background{
    height: 50vh;
  }
  .container{
    max-width: 600px;
    margin: auto;
    margin-top: -150px;
    min-height: 300px;
  }
  ::placeholder{
    font-size: 15px;
  }
}
